* {
	border: 0;
	padding: 0;
	margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	background: #f4f4f4;
	font-size: 24px;
	font-family: 'Roboto', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}
section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
	padding: 1rem;
}
article {
	padding: 1rem;
	background-color: #ddd;
	border: 3px solid #028fa8;
	overflow: hidden;
}
input[type=button] {
	padding: 1rem;
	margin: 1rem;
	width: calc(100% - 2rem);
	font-size: 150%;
	color: white;
	display: block;
	background-color: #75c7c7;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	cursor: pointer;
}
input[type=button]:hover {
	background-color: #4aa3a3;
}
#connect {
	grid-column: 1 / auto-fill;
}
#connectButton {
	background-color: #c77a75;
}
#disconnectButton {
	display: none;
	background-color: #7fc775;
}
#manual {
	grid-column: 1 / 3;
}
#webxr {
	grid-column: 1 / 3;
}
textarea {
	height: 10rem;
	width: calc(100% - 2rem);
	resize: vertical;
	padding: 1rem;
	margin: 1rem;
}


.garden {
  position: relative;
  width : 200px;
  height: 200px;
  border: 5px solid #CCC;
  border-radius: 10px;
}

.ball {
  position: absolute;
  top   : 90px;
  left  : 90px;
  width : 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}
#pose {
	background-color: rgba(255,255,255,0.7);
	padding: 1rem;
	margin: 1rem;
	width: calc(100% - 2rem);
	box-sizing: border-box;
	border-radius: 1rem;
}